<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Trains On Thyme</title>
  </head>
  <body>
    <p id="home"><a href="/">Home</a></p>
    <div class="container">
      <h1 class="head_text">Trains on Thyme</h1>
      <%= yield %>
    </div>
  </body>
</html>
