<form action="/admin" method="post">

  <div class="form-group">

    <label for="password">Password PLEASE</label>
    <input name="password" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Go!</button>
</form>
