.head_text {
  color: #FEF6C9;
  font-variant: small-caps;
  font-size: 50px;
  text-align: center;
  /* font-family: sans-serif; */
  text-shadow: 2px 2px 2px black;
}

.scary {
  color: red;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

html, body {
  background-color: rgb(20,20,20);
  background-image: url('/img/tracks.png');
  background-size: 200px;
  color: #D4DFC7;
  font-size: 20px;
  height: 100%;
}

a {
  color: #96C0B7;
  font-size: 20px;
}

h3 {
  font-size: 40px;
  color: #FEF6C9;

}

.container {
  background-color: #725752;
  /* background-color: red; */
  padding: 10%;
  padding-top: 20px;
  margin: 5%;
  border: 20px rgb(60,60,60) solid;
  border-radius: 15px;
  height: 100%;
}
/* label {
color: #D4DFC7
} */
